<a href="/">home</a>
    <form action="../Login" method="POST">
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input class="btn btn-success" type="submit" value="Submit" name="login_button">
    </form>