<h1>Admin Panel </h1>
<a class="btn btn-success" href="/">home</a>
    <form action="../Login" method="POST">
        <label for="email">Username:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input class="btn btn-success" type="submit" value="Submit" name="login_button">
    </form>